[2016-11-29 14:52] chmiiller opened #2 "Notification Received Handler"
First of all, thanks for the module! It works perfectly!
Do you have any idea on how to listen for the Payload sent together with the Push Notification on the Titanium app?
On Android SDK I've seen this handler `NotificationReceivedHandler`. And for iOS I was wondering if is it possible to use the Titanium callback on the `Ti.Network.registerForPushNotifications()`. Do you think this is gonna work

[2016-11-29 15:18] williamrijksen commented on #2
Hi @chmiiller,

Okay i understand you want to use the additional data you add to a specific notification. Maybe we can use the strategy which has been used in https://github.com/geektimecoil/react-native-onesignal.

On iOS devices i think you can use the `Ti.Network.registerForPushNotifications()` as well, but let me know.

Anyway, feel free to create a new Pull Request, i'll check this as soon as

[2016-11-30 15:05] chmiiller commented on #2
Just did it for Android! 🎉
PR: https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/3

[2016-12-01 16:04] chmiiller commented on #2
iOS is almost there on the PR as well!

[2016-12-02 21:18] williamrijksen commented on #2
Closing in regards to https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/3

[2016-12-02 21:18] #2 closed, assigned to nobody

[2016-12-06 23:14] pburel opened #5 "Is there any compatible version for 6.0.0.GA sdk 23 ..."
Is there any compatible version for 6.0.0.GA sdk 23 ...

[2016-12-07 08:12] williamrijksen commented on #5
@pburel Did you try https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/1.2.1?

This version is builded with Titanium 6 and SDK 23:
[code]

[2016-12-07 13:25] chmiiller opened #7 "[iOS] handleNotificationReceived when app is closed"
Add support for handleNotificationReceived: it detects when user opens a notification from outside the app and provides the additionalData already, but unfortunately, it doesn't work when the app is completely closed, don't know why =/

@hansemannn said:
" it's because it needs to listen to the core TiApp class to get notified and linking to that required the method to be in the class method "load

[2016-12-07 13:45] prakash-anubavam commented on #7
I am also facing this issue. Is there is any workaround ?

check this thread,
 https://forums.developer.apple.com/thread/54322

@costmosf said:

`
- (void)userNotificationCenter:(UNUserNotificationCenter *)center
didReceiveNotificationResponse:(UNNotificationResponse *)response
  withCompletionHandler:(void (^)())completionHandler
{
  NSLog( @"Handle push from background or closed" );
 // if you s

[2016-12-07 15:02] williamrijksen commented on #5
@pburel Closing in regards to: https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/8.

[2016-12-07 15:02] #5 closed, assigned to nobody

[2016-12-07 15:03] chmiiller commented on #5
We did a new version supporting 6.0.0.GA as a Xmas gift for you 🎉⛄️
release 1.3.0 can be used with the new Ti SDK:
https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/1.3.0

[2016-12-10 13:49] pburel opened #9 "Notification clicked: Android issue 2373 detected (missing intent CATEGORY_LAUNCHER or FLAG_ACTIVITY_RESET_TASK_IF_NEEDED)"
correction context: SDK 6.0.0.GA, Huawei VNS-L31, android 6.0 EMUI 4.1
TiApp.xml: add ->
`<property name="ti.android.bug2373.finishfalseroot" type="bool">true</property>`

[2016-12-12 07:46] chmiiller commented on #9
Have a look at this: https://github.com/dbankier/TiShadow/issues/379
Not so elegant, but can you please tell me if it solves your problem?

[2016-12-17 23:46] chrishaff opened #10 "You should document SQK versions the various module versions work with."
On Android
- 1.3.0 appears to support 6.0(+) only.
- 1.1.0 appears to support SDK versions 5.

Didn't try the other versions.

[2016-12-17 23:51] chrishaff opened #11 "Unable to install using Appcelerator install method. Manual install fails on Android compile."
Installation using the wizard fails.  Asks about overwriting the archive though it's a clean install, then says the URL is not valid.
http://docs.appcelerator.com/platform/latest/#!/guide/Using_a_Module

Manual installation into the modules folder appears to work in Studio, but "module is not found" when compiled on Android 7 (Nexus 6P).

[2016-12-18 09:37] chmiiller commented on #10
If you go to Releases, the latest one is a release for both SDK versions and for me it's pretty clear that it supports both of them.
iOS version supports SDK 5 and 6. For Android there are 2 builds, one for 5.5.1 and other for 6.+
![versions](https://cloud.githubusercontent.com/assets/1013632/21292707/e848d4bc-c50d-11e6-97c8-6c0c8dab1f4b.png)

[2016-12-18 09:37] chmiiller commented on #10
@williamrijksen I guess this one should be closed

[2016-12-18 09:39] chmiiller commented on #11
Never tried on Android 7 and don't have a phone to test it. Can you try to change the Android SDK folder, build the module and let us know if it works?

[2016-12-18 13:03] williamrijksen commented on #10
@chrishaff I'll close this issue.

[2016-12-18 13:03] #10 closed, assigned to nobody

[2016-12-18 17:51] williamrijksen commented on #11
@chrishaff Which release did you test? Take a look at: https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/1.3.0.

[2016-12-18 18:34] williamrijksen commented on #7
Would you support us by giving an example how to solve this problem? @hansemannn.

[2016-12-18 20:05] chrishaff commented on #10
Huh, learned something.  I was just going through the tagged versions, not "releases".  Thanks!

[2016-12-18 20:57] chrishaff commented on #11
Works, thanks!

The trick (for me as a 5.5.1 user) was to use com.williamrijksen.onesignal-android-1.3.0-5.5.1.GA.zip.

[2016-12-18 20:57] #11 closed, assigned to nobody

[2016-12-18 22:07] hansemannn commented on #7
See how [UrbanAirship](https://github.com/urbanairship/titanium-module/blob/master/ios/Classes/ComUrbanairshipAutopilot.m) did it, as an example.

[2016-12-20 01:09] chrishaff opened #12 "Can't RUN on iOS. App crashes on require('com.williamrijksen.onesignal');"
The app crashes immediately when it encounters the line
[code]

This happens when I "run" in development mode or package and deploy via TestFlight. The module works fine, receives messages, etc. when I run it in **debug mode**.  Android works fine in any mode.

Ti SDK 5.5.1
Module versions 1.2.1 and 1.3
Latest release versions of Studio, XCode, etc.

Any pointers would be appreciated, thanks!

[2016-12-21 10:53] williamrijksen commented on #12
@chrishaff What do you mean with Debug mode? Could you deliver a stacktrace-error?

[2016-12-21 14:49] chrishaff commented on #12
I'll post a stack trace. Didn't see anything clearly out of place.

By debug I mean that I compile for debug targeting the physical iPad and
step through the code using Studio. If I hit "run" in Studio the app
crashes when it hits the include line. Same if I deploy through Testflight.

[2016-12-30 15:11] chrishaff commented on #12
Sorry, the holidays intervened.

Here's a gist with the device crash log.
https://gist.github.com/chrishaff/86b3c1dea0bd0176bc8f74368fef578c

I tried putting a try/catch around the require(), but that didn't do a thing as I suspected.  I did notice that while the app starts/stops and leaves you at the springboard I can see the red screen of death when I view running apps.  It says "Can't find ones

[2017-01-02 03:36] aurusapps commented on #12
I had a similar error and I singled it down to a line I used for an android quick fix suggested in #9
While building for iOS I simply removed this line and it now works in debug and build mode.

[2017-01-03 17:38] williamrijksen commented on #12
@chrishaff I'm sorry, I need more information to reproduce you're problem. In our application it works as expected in both Testflight and develop. How do you call the onesignal module in Javascript?

[2017-01-03 19:49] chrishaff commented on #12
Thanks @williamrijksen. This morning I created a new app, got certs, etc. and used the example code from this repo.  That worked!

I then went back to the actual app and found some references to Ti.Network.registerForPushNotifications from the previous plugin I used with Parse.  That code is unreachable, that is there is no include() or require() for the file. I had previously removed the plugin.

[2017-01-03 19:50] #12 closed, assigned to nobody

[2017-01-03 20:03] chrishaff commented on #7
@chmiiller I successfully added the following to the bottom of the example app.  That is, with the app not running I received a push.  Clicking on the push opens the app and the app reports the data that was pushed.

This can be found on http://docs.appcelerator.com/platform/latest/#!/guide/Subscribing_to_push_notifications

[code]

[2017-01-04 11:35] prakash-anubavam commented on #7
@chrishaff If we required the onesignal module, registerUserNotificationSettings will fired automatically and then registerForPushNotification fired.  but If we manually register pushNotification from mobile app, Major functionality in Onesignal SDK may not work. Like deviceToken will not registered with Onesignal server and other tags will not saved. It should be fixed inside the SDK.  Your devic

[2017-01-04 14:11] chrishaff commented on #7
Thanks for the explanation. Without knowing that API real well I thought I
stumbled upon a solution. In subsequent testing I found out what you
already knew and so graciously  shared.

[2017-01-08 06:30] aurusapps opened #13 "iOS 10 Rich Push notifications"
Are iOS 10 Rich Push notifications ie. with buttons and media supported in the current version of the module?

[2017-01-11 15:03] chrishaff commented on #7
@williamrijksen I have an app going to production in about a month.  Do you think this will be addressed before then or should I look elsewhere for now?

[2017-01-11 16:35] hansemannn commented on #7
@chrishaff Use the Titanium events to receive the background events and execute the module API's from there. Guess that should work.

[2017-01-12 10:37] williamrijksen commented on #7
@chrishaff Let me know the suggestion of @hansemannn will work so we can add it to the readme!

[2017-01-12 22:24] jkasten2 commented on #13
@aurusapps Yes, this supported by this SDK. Make sure you have the latest version in your app. Also make sure your media links don't contain any redirects and are HTTPS. HTTP URLs can be used but require a plist entry to override the HTTPS requirement.

Also you may have to enable "Remote notifications" under Background Modes in Xcode if titanium isn't doing it for you.
https://documentation.onesi

[2017-01-12 22:32] ygbr opened #14 "Android: Module Conflicting with ti.map on Ti 6.0.1.GA"
#Hi,

I'm trying the module version 1.3.0 on Ti SDK 6.0.1.GA but it is conflicting with vanilla ti.map.

When i try to build the app with the onesignal module I get the following error:

[code]

I have tried to delete google-play-services-base.jar and the app compiles and dexes normally but when the app runs it gives a lot of errors regarding the google-play-services version.

Anybody managed to r

[2017-01-13 09:25] chmiiller commented on #14
Hey Yg,
As seen here: https://github.com/Sitata/titanium-google-analytics/issues/48 seems that [Proguard](https://medium.com/all-titanium/deal-with-titanium-modules-and-its-missing-support-for-android-multidex-546de5486d13#.ae8edzb7c) is a solution, but I'm not a big fan of it. What do you think?

[2017-01-13 11:54] ygbr commented on #14
Hi @chmiiller !
We have done the Proguard solution a few times in the past when we had to use Google Analytics modules together with Maps but it is kinda painful when you have to deal with a lot of Android modules and want to carry regular updates.

This has been a long living Titanium issue for Android modules and Axway haven't found a proper way to handle this yet... nor oriented module develope

[2017-01-16 03:19] aurusapps commented on #13
@jkasten2 My question was whether it is implemented in this module rather than the native iOS SDK itself. Would you know if it is? I feel the SDK in use is older and maybe we need to recompile this module with the latest version of the SDK.

[2017-01-17 03:34] aurusapps opened #15 "Implementation of getTags (Android)"
Hi,

Not sure how others are doing it, but its currently not possible to clear tags of a user without knowing which tags were set in the absence of getTags and deleteTags methods in the module.

A work around would be to maintain a property (like a cookie) in the app but this method is causing redundancy of data (tags are being maintained and referred in both client app and onesignal servers) and

[2017-01-17 16:55] chmiiller commented on #15
Well with the getTags on iOS you can easily figure it out what tags to delete. For Android I didn't have time to implement yet, and I agree it could be annoying to save it manually on device =/
I will need to use this module on next 2 weeks, so perhaps I can implement them

[2017-01-18 03:17] aurusapps commented on #15
@chmiiller  That would be great, thanks. I also recommend to move to the latest SDK version from OneSignal, best to stay updated I think.

PS: I will attempt the code as well over this weekend, will keep you posted on the progress, if I figure it out will share the same...

[2017-01-18 15:39] chrishaff commented on #7
I went back to what I said in [my earlier comment](#issuecomment-270210014).  That technique **does work** in the simple example app.  I assume this is what @hansemannn was referring to. @prakash-anubavam implied that this should not work, but it does.

So, I think we can close this ticket and add it to the example and docs.

This technique does not work in my actual (rather large) app yet.  I sus

[2017-01-19 05:26] prakash-anubavam commented on #7
@chrishaff Can you share your sample app? You mentioned sample app works fine. I just have few questions.
Q1 :
Ti.Network.registerForPushNotifications() - This will register your app with APN and gives **deviceToken**. How did you register this **deviceToken** with Onesignal platform.

Did you check, your device listed in "All Users" section in Onesginal.com.
Q2 :
If we can achieve this by adding

[2017-01-22 21:57] clem983 commented on #14
Hi,
I have the same issue than you. Is there a solution to work with ti.map and onesignal together ?
Thanks a lot :)

[2017-01-23 13:03] jvandijk commented on #14
@clem983 @ygbr Use version 3.0.0 of Ti.Map for now, that one matches on Google Play Services version.

[2017-01-23 17:53] clem983 commented on #14
That works, thanks a lot @jvandijk  :)

[2017-01-26 03:05] aurusapps commented on #15
@chmiiller I tried using iOS getTags and that seems to fail as well.
In the sample given in the readme below:

    onesignal.getTags(function(e) {
        if (!e.success) {
            Ti.API.error("Error: " + e.error);
            return
        }

        Ti.API.info(e.results);
    });

Logging e.results gives the value of undefined and Logging the object e results in
[INFO] :   {
[INFO] :

[2017-01-26 10:19] chmiiller commented on #15
You're right, it's not working =/
The add tag successfully inserts a tag for the user on OneSignal DB, but the GetTags is not working at all...gonna check if possible

[2017-01-26 10:56] chmiiller commented on #15
Just got it fixed for iOS! Gonna commit later Today. Basically, the issue was that someone made it on the opposite way 😭, but it happens a lot hahahahaha.
Was:
[code]

So, "if we don't have a error (error == null) send the error message"

[2017-01-26 12:24] aurusapps commented on #15
hehe, yes thats a funny one. But glad you found a fix easily.
@chmiiller  any thoughts on upping to the latest SDK from onesignal with this fix?

Also, good news is that I was able to implement the GetTags function for Android, will test it and then share the code for you'll to review and include if okay!

[2017-01-26 12:48] chmiiller commented on #15
[PR](https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/16) -> getTags fixed and now is also possible to send a notification from the app to another user.
@williamrijksen could you check this PR alstublieft?

[2017-01-26 13:03] aurusapps opened #17 "Android Push Notifications do not respect priority"
I wondered how notifications from some apps draw over a screen and you can read them where as all other notifications only appear as an icon on the status bar.

In my research I found that the priority of the notifications controls this and only priority 10 messages will be shown with a sliding view over other apps or even while on the OS main screen.

However the current module does not support t

[2017-01-26 13:05] chmiiller commented on #17
Nice! Can you do a PR?

[2017-01-26 13:12] aurusapps commented on #17
@chmiiller Ok im still learning Github at the moment but Ill create a fork, make my changes and submit a PR include both the SDK upgrade and my implementation of getTags for Android. Ill do this after I make changes on your current version ie. 1.3.1

[2017-01-26 13:22] chmiiller commented on #17
Ok, I can help you on that if you want.
Basically:

1. Fork the repo
2. Clone it on your computer
3. Do your changes
4. Commit your changes
5. Push your commit(s)
6. Open your github forked repo on github website
7. Click on "Pull Requests" on top menu
8. Select "New Pull Request"
9. Wait till Travis check your commit and William have a look at it

BTW, also updated iOS framework on 1.3.1

[2017-01-26 13:24] aurusapps commented on #17
@chmiiller

Thanks and understood, will follow these steps.

Awesome on the iOS Framework upgrade, left a comment on your commit :) really hoping it fixes #13  automatically

[2017-01-26 14:28] chmiiller opened #18 "[iOS] Update OneSignal framework"
When trying to update module's One Signal framework with the last one on their github repo, the app crashes when I send a notification and app is opened, or attempt to open the app from notification.
The message is:

[code]
Not sure what they've changed about it =/
Do you guys have a solution for this by any chance?
Thanks

[2017-01-27 01:43] aurusapps commented on #18
Not fully sure but you should check remote notifications settings in your plist file as that was another feature added to one signal SDK probably later than the original SDK used in the module

[2017-01-27 09:26] chmiiller commented on #18
I do have the:
[code]
On my tiapp.xml, should be enough I think

[2017-01-27 12:53] aurusapps commented on #18
Just out of curiosity are you able to replicate the error without liveview on?

[2017-01-27 12:55] aurusapps commented on #9
The work around offered worked for me

[2017-01-27 13:21] chmiiller commented on #18
I'm not using liveview at all

[2017-01-30 09:36] williamrijksen commented on #15
@aurusapps @chmiiller getTags introduced: https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/1.4.0.

[2017-01-30 09:43] williamrijksen commented on #17
@aurusapps @chmiiller JAR updated in 1.4.0. Would you verify it's fixed now?

[2017-01-30 16:07] #15 closed, assigned to nobody

[2017-01-30 17:03] chmiiller commented on #17
hey @aurusapps can you check this one and if it is working close this issue?

[2017-01-30 17:13] aurusapps commented on #17
working correctly, have tested the following:

- new device registers
- settags
- deletetags
- received and opened handlers of notifications

priority 10 messages working with slide down and draw on other apps

Its working well!

[2017-01-30 17:13] #17 closed, assigned to nobody

[2017-01-31 03:46] aurusapps commented on #18
@williamrijksen any ideas on how we can make this work? I think #13 should get auto resolved along with this and we are missing out on sending pictures and videos with notifications on iOS 10+

[2017-01-31 08:45] hansemannn commented on #18
The error means that the `didReceiveRemoteNotification:` method cannot be called. Looking into the SDK, it only get's generated when you have the `USE_TI_NETWORKREGISTERFORPUSHNOTIFICATIONS` macro defined, which gets generated during build-time as soon as you use `Ti.Network.registerForPushNotifications`. I hope that helps.

[code]

[2017-02-01 20:51] shacharudi opened #22 "OneSignal: OneSignal AppId format is invalid"
Hi William @williamrijksen ,
Thank you for making this module, it looks great!

I've been trying to integrate it with my appcelerator app on android and been running into this problem described in the title:

I think it's something to do with the way I setup my xml, here's how I set it:

`<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"

[2017-02-01 20:54] rooterdog commented on #22
I'm having the exact same issue @williamrijksen
Any help is much appreciated!!!!!

[2017-02-02 09:50] williamrijksen commented on #22
You have to replace `android:value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"` by `android:value="<app id>"` which can be found at One-Signal dashboard -> App Settings -> Keys & IDs.

The google project number can be found after registering you're app at FCM (Firebase Cloud Messaging). Is it clear enough?

[2017-02-02 12:35] chmiiller commented on #22
Here are some examples of my app and tiapp.xml configurations.
![ostiappxml](https://cloud.githubusercontent.com/assets/1013632/22549576/41b733e2-e94c-11e6-8815-f87438b637d5.png)

This is my One Signal -> App Settings screen:
![osappsettings](https://cloud.githubusercontent.com/assets/1013632/22549585/4febd3c8-e94c-11e6-8e9b-1075deb341b1.png)

And these are my FCM settings:
![osfcm](https://cloud.

[2017-02-03 15:12] shacharudi commented on #22
Thanks @williamrijksen ! I was missing the `<application>` tag but now it's working great.
And thank you @chmiiller for sharing your XML files, it was very helpful!
Thanks again for making this module, it's awesome!

[2017-02-03 15:12] #22 closed, assigned to nobody

[2017-02-06 03:01] aurusapps commented on #18
@williamrijksen @chmiiller Any thoughts on @hansemannn input? Ill give it a try if you aren't, just that Im not strong on the iOS skills ...

[2017-02-17 06:29] t4kumj opened #23 "[Android]Notification not show when the app is focus"
I'm using titanium appcelerator 6.0.0 GA and the Notification not show when my app in focus.
Please give me example code to show it.
Thanks.

[2017-02-17 08:57] chmiiller commented on #23
Android or iOS?

[2017-02-19 10:42] t4kumj commented on #23
Android 6.0, thanks

[2017-03-16 23:05] jkasten2 commented on #13
@aurusapps Although it isn't documented in this repo I see it is using 2.1.16 of the OneSignal iOS native SDK. Support for iOS 10 media attachments was added back in version 2.1.1 of the native SDK so this plugin will support it was well.

The requirement of the 2.1.16 native SDK is that you must have `"Remote notifications"` under `Background Modes` enabled from our [native instructions](https://

[2017-03-16 23:11] jkasten2 opened #24 "OneSignal iOS Native 2.4.X Update - NotificationServiceExtension"
@williamrijksen We recently released version 2.4.0 of our SDK which uses a `NotificationServiceExtension`. Media attachments and action buttons now use a NotificationServiceExtension with mutable-content instead of content-available on iOS 10 for improved delivery reliability and speed. This fixes the issue where notifications with these features would not show if the app was force-quit by swiping

[2017-03-19 19:59] clem983 opened #25 ""Location point" empty"
Hi,

Thanks for this perfect module !
I just have a question : I'd like to send notifications based on location but the "Location point" column in onesignal is always empty.
How can I do to complete it ?

Thanks a lot :)

[2017-03-20 09:21] chmiiller commented on #25
As I can see, we will need to implement promptLocation method on iOS and Android:
https://documentation.onesignal.com/docs/ios-native-sdk#section--promptlocation-

[2017-03-20 09:25] chmiiller commented on #24
Thanks for the information @jkasten2 ! I'm giving it a try but I'm not the module expert here. Gonna let you know if it worked

[2017-03-20 09:34] williamrijksen commented on #25
@clem983 Yes feel free to create a PR so it's in the module 👍

[2017-03-20 09:35] williamrijksen commented on #14
Thanks @jvandijk! I'll close this issue.

[2017-03-20 09:35] #14 closed, assigned to nobody

[2017-03-20 11:18] chmiiller commented on #24
hun, not much success here. All I've tried was to update the OneSignal.framework file on Xcode project and module folder. Than rebuilt both module and app and tried to send notifications. I receive the notifications on app three stages: closed, background and foreground but on each case it closes the app when I tapped the notification message (or when it receive it and the app was on foreground).

[2017-03-20 17:13] clem983 commented on #25
Unfortunately I don't have the skills to do it, for now !
But thanks for your quick answers :)

[2017-03-20 21:36] jkasten2 commented on #24
@chmiiller You will need to add the new target to your Xcode project as well.
[**Add Notification Service Extension**](https://documentation.onesignal.com/docs/ios-sdk-setup#section-1-add-notification-service-extension)

However without it you shouldn't close the app when opening a notification, just won't see custom action buttons or iOS 10 attachments. It is most likely crashing, can you get the

[2017-03-22 17:11] albwebbergate commented on #14
@jvandijk It works!!!!

ti.map 3.0.0
onesignal 1.3.0
sdk-version 6.0.2.GA

[2017-03-24 03:27] aurusapps commented on #13
my bad, this seems to have worked on another app we tried it with. Will update with the exact steps we used so others can also use rich notifications in iOS.

[2017-03-24 11:47] lukadavi opened #26 "Missing libraries"
Hi,
i got this error compiling for ios and for android as well.
I'm using titanium 6.0.3.

I know i'm doing something wrong but i don't know what.

IOS
`[ERROR] :  Module com.williamrijksen.onesignal version 1.5.0 is missing library file: /Users/alessandrofranchini/Library/Application Support/Titanium/modules/iphone/com.williamrijksen.onesignal/1.5/libcom.williamrijksen.onesignal.a`
ANDROID
`[ERRO

[2017-03-24 13:58] chmiiller commented on #26
Where did you get the module from? I recommend you take it from here: https://github.com/williamrijksen/com.williamrijksen.onesignal/releases
If you are trying to build it by yourself for iOS, seems that the `OneSignal.framework` file is missing in your XCode project.

[2017-03-24 13:59] williamrijksen commented on #26
What's the version you described in your tiapp.xml? 1.5 or 1.5.0? 1.5.0 is required.

[2017-03-27 02:07] santhoshvkumar opened #27 "onesignal.idsAvailable For Android"
What's the way to receive the `playerID` for OneSignal in Android. My Scenario is, wanted to send Push Notification to each and every user from the REST API Call with out PlayerID how to Achieve it ?

[2017-03-27 11:10] lukadavi commented on #26
Thank you William.
I was trying to build it by myself. Now I downloaded the modules from [https://github.com/williamrijksen/com.williamrijksen.onesignal/releases](https://github.com/williamrijksen/com.williamrijksen.onesignal/releases)
and it works fine
;)

[2017-03-27 11:10] #26 closed, assigned to nobody

[2017-03-27 11:27] chmiiller commented on #27
Hi @santhoshvkumar I've implemented it for iOS only. You can have a look on how I did it and try it by yourself. It is not so complicated I think.

[2017-03-31 20:59] mdbollman opened #28 "NSInvalidArgumentException Crash"
During the `registerForPushNotifications() call I'm receiving an exception that is causing a crash.

This was working at some point in this app so I'm not entirely sure what changed...

[code]

[2017-04-01 04:26] jkasten2 commented on #28
@mdbollman It seems it is coming from the OneSignal native SDK when trying to get a push token as I don't see a `application:didRegisterForRemoteNotificationsWithDeviceToken:` method defined in this plugin.

This plugin is using the 2.1.16 SDK which may have an issue in the method. Can you make sure your OneSignal app id is set per the instructions of this repo's README? I have seen this case some

[2017-04-11 20:49] jvandijk opened #29 "Verify OSNotificationPayload structure in Android"
A title is an optional field for a notification. This means that its existence should be verified before use, else this happens:
[code]

[2017-04-14 09:56] chmiiller commented on #29
Good catch! Is this only happening on Android or on iOS as well?

[2017-04-14 10:01] chmiiller commented on #29
Nice, just saw #30 🎉

[2017-04-18 15:03] williamrijksen commented on #29
Closed because of the merging of #30.

[2017-04-18 15:03] #29 closed, assigned to nobody

[2017-04-20 14:53] AppWerft opened #31 "Naming"
is it possible to rename this repo into _Ti.OneSignal_ (for better finding of it)?

[2017-04-25 09:35] williamrijksen commented on #31
@AppWerft This repo is linked by Onesignal in their docs, so I don't see any reason to rename this module.

[2017-04-25 09:35] #31 closed, assigned to nobody

[2017-04-25 10:52] AppWerft commented on #31
OK in this case … Maybe you write the text "Ti.Onesignal" in your README for better finding.

[2017-04-25 11:28] williamrijksen commented on #24
@hansemannn Do you know how to add an " Add Notification Service Extension" in this module? Does Appcelerator support this to integrate into a module?

[2017-04-25 11:33] hansemannn commented on #24
@williamrijksen Yes, but not per module but globally per app (makes sense). You would just create a new extension that is linked to the application, see the [Creating iOS Extensions](http://docs.appcelerator.com/platform/latest/#!/guide/Creating_iOS_Extensions_-_Siri_Intents) guide (although using the SiriKit extension, every other extension works the same way).

[2017-04-25 11:34] williamrijksen commented on #24
@hansemannn Thanks!

[2017-04-26 07:12] #27 closed, assigned to nobody

[2017-04-26 07:47] #9 closed, assigned to nobody

[2017-04-29 13:17] #18 closed, assigned to nobody

[2017-04-29 13:20] williamrijksen commented on #24
Closed: https://github.com/williamrijksen/com.williamrijksen.onesignal/issues/33.

[2017-04-29 13:20] #24 closed, assigned to nobody

[2017-04-30 08:57] chmiiller commented on #13
Not sure, but I think latest commit also provides a way to use Rich Notifications on iOS. Can you confirm this @williamrijksen ? Than you may want to also close this issue =)

[2017-05-01 07:00] williamrijksen commented on #9
Workaround is not necessary anymore because of the merging of #32.

[2017-05-01 07:44] jvandijk commented on #13
@chmiiller Theoretically yes. By providing the documented extension in step 5 of the [README](https://github.com/williamrijksen/com.williamrijksen.onesignal/blob/master/README.md) to your app, you should be able to use rich notifications. We haven't tested this though...

[2017-05-01 21:29] clem983 opened #34 "App crashes on notification click"
Hi,

I'm using OneSignal and your plugin for my app. All is working very well, except when I click on a received notification. In this case, the app is always crashing. Do you know this problem ?

Thanks a lot.

[2017-05-02 10:10] chmiiller commented on #34
Hi everyone,
I'm also having this issue + if the app is on foreground (opened) and has received a notification it also crashes. Just to be clear, this is happening on **iOS** (10.2.1).
I'm testing with release 1.6.0 and Titanium SDK 6.0.2.GA/6.0.3.GA/6.0.4.GA
Here are errors I get when testing (when the notification arrives):

`-[TiApp application:didReceiveRemoteNotification:]: unrecognized selec

[2017-05-02 20:16] jvandijk commented on #34
I'm not using any of the background modes, 6.0.3.GA and iOS 10.3. I'm able to click the notification properly resulting in an app open action.

[2017-05-03 11:59] chmiiller commented on #34
YEAY! That was the problem @jvandijk ! If I remove this `UIBackgroundModes` from my tiapp.xml it just works! Awesome 🎉
The only problem is that I ain't receiving any `additionalData` when the app is completely closed as in #7 =/
So @clem983 , removing UIBackgroundModes from your tiapp.xml should fix your problem, then this issue could be closed

[2017-05-03 19:26] clem983 commented on #34
Hi,
I didn't give you enough details. In my case, it's with Android (several versions) and 6.02 / 6.03 GA. In tiapp.xml I don't have UIBackgroundModes.
The only error I can see is the alert "The app has closed".

Is there an other solution ? :/

Thanks a lot :)

[2017-05-09 07:35] chmiiller commented on #34
Well, then I'll recommend you to debug it with [ADB logcat](https://developer.android.com/studio/command-line/logcat.html) from your phone and post here more details of your error.

[2017-05-09 12:16] santhoshvkumar commented on #23
For IOS I am facing the Same issue.
`onesignal.addEventListener('notificationReceived', function() { alert ("msg");}`
but it call like couple of times after that there is no alert.

Not Sure what's the Root Cause. In Live mode EventListener Is getting called and it's working properly but in deployment it's not calling EventListener at all. Not sure what I am missing

[2017-05-10 07:47] iAmBorn2Code commented on #23
I'm having the same issue with
iOS 10.3.1
6.0.3GA

In LIVE VIEW MODE - Working
DEVELOPMENT - Not Working.

[2017-05-10 16:53] grazianogrespan commented on #34
Hi all, thanks for the module! It's awesome!
As @clem983 said, if you click the notification when the app is killed, it causes a crash.
On Android, SDK 6.0.4GA.
This is the [log](https://github.com/williamrijksen/com.williamrijksen.onesignal/files/990589/log.txt) from ADB, hope it is useful...

[2017-05-13 13:51] ottopic opened #35 "Warnings in onesignal event"
When I use my objects for example inside onesignal.idsAvailable(function(e) {}); I receive many warning and relative errors that I'm creating a object in differente context than the calling function, for example:

Creating [object TiDatabase] in a different context than the calling function
Creating [object TiAppProperties] in a different context than the calling function

How can be fixed?
I have

[2017-05-19 06:58] ryansoy commented on #28
i have the same issue -[ComWilliamrijksenOnesignalModule application:didRegisterForRemoteNotificationsWithDeviceToken:]: unrecognized selector sent to instance 0x17f5a4b0. any one can help? please help...

[2017-05-20 01:44] jkasten2 commented on #23
You could change the following line to always show a notification in the shade even when the app is in focus.
https://github.com/williamrijksen/com.williamrijksen.onesignal/blob/cb2a6b2074b1f6c6390571efa16e419fac08d367/android/src/com/williamrijksen/onesignal/ComWilliamrijksenOnesignalModule.java#L46

Change `None` to `Notification` to do this.

[2017-06-02 22:22] CJ-Oodle opened #36 "Compiled Modules"
Is there any chance we could get compiled modules added to the repo? I have been having all sorts of issues compiling these repositories based on versions of node and my android ndk in particular.
As an example on the android compile:
[ERROR] /Users/carmin/Library/Application Support/Titanium/mobilesdk/osx/6.1.0.GA/android/native/include/AndroidUtil.h:57:49: warning: format specifies type 'int' bu

[2017-06-06 07:11] williamrijksen commented on #36
@CJ-Oodle You can find the releases here: https://github.com/williamrijksen/com.williamrijksen.onesignal/releases

[2017-06-06 13:00] CJ-Oodle commented on #36
Thanks William, I was making that way harder than it needed to be!

[2017-06-06 13:00] #36 closed, assigned to nobody

[2017-06-12 19:00] Mariocar88 commented on #28
I have the same issue, I updated to 1.6.0 version on iOS and I can't register the player id :/ , I use Xcode 8 , OSX El Capitan 10.11.6, Titanium SDK 6.1.0 GA

[2017-06-12 19:47] mdbollman commented on #28
1.6.0 seems to work for me in `Ti SDK 6.0.3.GA`. Maybe give that a try.

Note: It also throws this error for me in `Ti SDK 6.1.0.GA` after upgrading to 1.6.0

[2017-06-12 19:54] Mariocar88 commented on #28
@mdbollman how can dowload the sdk 6.0.3 GA  if Ihave the 6.1.0?

[2017-06-12 19:58] mdbollman commented on #28
https://stackoverflow.com/questions/35859948/download-previous-versions-of-titanium-sdk

[2017-06-12 21:49] Mariocar88 commented on #28
`[ComWilliamrijksenOnesignalModule application:didRegisterForRemoteNotificationsWithDeviceToken:]: unrecognized selector sent to instance 0x100c26440`  it's still happen, I downloaded the SDK version to 6.0.3.GA , I need to update my xcode to 8+ ??

[2017-06-15 10:04] necov commented on #28
Facing the same issue here. In LiveView everything is good (except the push-click on lockscreen). Is there any solution to this?

[2017-07-03 12:56] ajsatam commented on #28
This happens for me as well. When I downgrade the sdk to 6.0.3.GA it works on simulator but when I create a adhoc build and test it on my iPad it crashes on register. Please help.

[2017-07-04 08:42] ajsatam commented on #28
@williamrijksen can you please help on this issue. Works fine in simulator when sdk downgraded to 6.0.3.GA but when the same is run on the iPad device after the 'Allow push notification' popup it gets crashed without any error message on console.

[2017-07-05 17:09] williamrijksen commented on #28
I think I found the reason why this error occurs: https://github.com/OneSignal/OneSignal-iOS-SDK/blob/01a340b9a86fb2add5a7407da763bd615265d1b6/iOS_SDK/OneSignalSDK/Source/OneSignal.m#L530. We should switch using this code:

[code]

@jkasten2 What do you think? Would this solve the issue?

[2017-07-06 13:12] chmiiller commented on #7
@prakash-anubavam did you test the workaround? Does it work? I'm trying again to solve this problem

[2017-07-06 13:13] williamrijksen commented on #7
@chmiiller Would this solve the problem? https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/38.

[2017-07-06 16:06] chmiiller commented on #7
Made a comment explaining my problems on the PR =)

[2017-07-06 21:20] jkasten2 commented on #28
@williamrijksen [`registerForPushNotifications` ](https://github.com/OneSignal/OneSignal-iOS-SDK/blob/01a340b9a86fb2add5a7407da763bd615265d1b6/iOS_SDK/OneSignalSDK/Source/OneSignal.m#L540-L542) ends up calling this so this won't fix the issue.

For those seeing the issue can you try to get a full stack trace with the symbols resolved so it includes method names and line numbers? You should be able

[2017-07-07 06:29] williamrijksen commented on #28
@chmiiller can you reproduce this issue? I don't see this issue coming up on my application unfortunately.

[2017-07-07 07:32] ajsatam commented on #28
hi @williamrijksen I'll try to share the stack trace

[2017-07-07 07:42] chmiiller commented on #28
Hi @williamrijksen me neither. I'm not having this issue at all. For those trying to debug, on macOS Sierra they updated the `console` application. Looks much better and you can filter by application. It's better than XCode device logs

[2017-07-11 13:32] chmiiller commented on #13
hey @jkasten2 do you mind having a look at #38 ? Maybe you can assist us on that? Thanks!

[2017-07-11 20:35] williamrijksen commented on #35
@ottopic This is about the idsAvailable in the iOS module, right? The idsAvailable is deprecated and should being replaced by OSPermissionSubscriptionState. See https://stackoverflow.com/a/43240950

[2017-07-12 11:38] ajsatam commented on #28
Hi @williamrijksen sorry for the delay. but please find below the stack trace

[code]

[2017-07-12 13:01] chmiiller commented on #28
hey @ajsatam which Titanium SDK version are you using? I'm having this problem on Simulator as well, but not in the real device. Can you try it on the real device?

[2017-07-12 16:54] williamrijksen commented on #7
@chmiiller When it's after a force-quit, it's about this issue: https://documentation.onesignal.com/v3.0/docs/ios-native-sdk#section--oshandlenotificationreceivedblock-. In that case `OSHandleNotificationReceivedBlock` isn't supported by OneSignal at all and this issue should be closed.

[2017-07-13 01:30] jkasten2 commented on #28
@ajsatam Can you right click on the log and press "Re-Symbolicate Log" before copying the log?

![image](https://user-images.githubusercontent.com/645861/28146590-ead93f86-672f-11e7-9780-32f708a24186.png)

It may take a few seconds for the log to update. After this the following to lines should change to function names with line numbers.
[code]

[2017-07-13 07:20] ajsatam commented on #28
Hi @chmiiller I've tried using SDK's from 6.1.1.GA to 6.0.0.GA. The error in simulator shows only when I use 6.1.1.GA but when I run the app on device irrespective of the SDK it crashes.

Hi @jkasten2 please find below the log. Also adding the zipped crash log.
[TAM India  04-07-17, 2-05 PM.crash.zip](https://github.com/williamrijksen/com.williamrijksen.onesignal/files/1144336/TAM.India.04-07-17.2

[2017-07-17 05:17] ajsatam commented on #28
Hi @chmiiller , @jkasten2 did you guys get a chance to check the issue. Please let me know.

[2017-07-22 06:49] gimdongwoo commented on #28
I hope this issue will be resolved.
I want to use the latest Titanium SDK.

[2017-08-03 02:52] Born2Debug opened #39 "The application has crashed with an uncaught exception 'NSInvalidArgumentException'."
Hello, I have an issue using Titanium SDK 6.1.1GA.

Here's the complete error.

`The application has crashed with an uncaught exception 'NSInvalidArgumentException'.
[ERROR] :  Reason:
[ERROR] :  -[ComWilliamrijksenOnesignalModule application:didFailToRegisterForRemoteNotificationsWithError:]: unrecognized selector sent to instance 0x7faecb7166b0
[ERROR] :  Stack trace:
[ERROR] :  0   CoreFoundati

[2017-08-03 06:12] williamrijksen commented on #39
@Born2Debug Did you check https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/38#discussion_r130996351?

[2017-08-06 06:30] hansemannn commented on #39
The error ineicates that the UIApplication delegate you are calling is nil at this point. It could be related, but could also be an issue with not nil-checking it before calling. Did this not occur with 6.0.x and 5.5.x? This is very important to know

[2017-08-09 12:18] jvandijk commented on #23
We're currently using a strategy that allows users to create their own interaction based on the opened / receive events. The current default setting is to show no 'in app popup'.

[2017-08-09 12:23] jvandijk commented on #7
#38 solves the event listening problem for the open listener. As said OneSignal doesn't support the received listener in the "force-quite" state.

Closing issue!

[2017-08-09 12:23] #7 closed, assigned to nobody

[2017-08-09 12:25] jvandijk commented on #13
In #38 we've update to the latest version of OneSignal 2.5.4

We did not test the rich notifications though, because we haven't been using these ourselves.

[2017-08-09 12:30] jvandijk commented on #28
#38 has been merged which changes how the library is initialized. The issue should be resolved now.

[2017-08-09 12:30] #28 closed, assigned to nobody

[2017-08-09 12:32] jvandijk commented on #34
#38 changes the way how the module is initialised. This issue should be gone now. Reopen if this is not the case.

[2017-08-09 12:32] #34 closed, assigned to nobody

[2017-08-10 06:50] jvandijk commented on #39
@Born2Debug can you test this with version 1.7.0?

[2017-08-10 07:24] Born2Debug commented on #39
@jvandijk it works fine with 1.7.0 ;) Thanks so much. Good work guys.

[2017-08-10 07:29] jvandijk commented on #39
Thanks for the heads up!

[2017-08-10 07:29] #39 closed, assigned to nobody

[2017-08-10 09:15] jvandijk commented on #25
@clem983 as a workaround you can use the standard Titanium location permissions. I've they have been given, OneSignal will have access to the location data

[2017-08-13 18:26] TheVisitorXX commented on #23
I have the same issue, notificationReceived / notificationOpened aren't called when the app is in foreground/has focus. It's only called when the app is closed completely. It is working fine for Android but not for iOS.

[2017-08-15 17:59] rooterdog opened #40 "android notification icons"
I cant seem to get anything other then the standard "bell" icon to show up in notifications. Is this supported? If so how are others getting it to work? I've tried adding to resources, etc...
BTW, guess this is not an "issue" but be great if it worked.. probably just something I'm not doing correctly...

[2017-08-15 19:23] jvandijk commented on #40
The naming convention is hardcoded, it should be `ic_stat_onesignal_default.png`. See the OneSignal documentation for more details: https://documentation.onesignal.com/docs/customize-notification-icons

[2017-08-15 20:38] rooterdog commented on #40
thats exactly what I did, but wouldnt work.. perhaps I put in wrong directory...
I placed in app>assets>android>images>drawable-hdpi,drawable-hmpi, etc

[2017-08-15 20:54] jvandijk commented on #40
The files should be placed in `app/platform/res/drawable-{hdpi,mdpi,xhdpi,xxhdpi,xxxhdpi}`

[2017-08-15 21:49] rooterdog commented on #40
that did it....

actually had to add "android" to it, but working now...
app/platform/android/res/drawable-{hdpi,mdpi,xhdpi,xxhdpi,xxxhdpi}
Thank you for the help!

[2017-08-15 21:49] #40 closed, assigned to nobody

[2017-08-27 02:26] jcsomac opened #42 "No virtual method areNotificationsEnabled()Z"
I am trying to implement this android notifications but i am getting this error.
Despite the error, I can get the token, but when sending the notification from the web portal, it never arrives.

[ERROR] :  art: java.lang.NoSuchMethodError: No virtual method areNotificationsEnabled()Z in class Landroid/support/v4/app/NotificationManagerCompat; or its super classes
[ERROR] :  art: ----- class 'Landr

[2017-08-28 20:31] jvandijk commented on #42
Which Titanium SDK are you using? Because this errors shows that the V4 support library is missing, which comes standard with Titanium : https://github.com/appcelerator/titanium_mobile/tree/6_1_X/android/modules/appcompat/lib

[2017-08-29 21:05] Topener opened #43 "Android: Add support for receiving notifications when app is closed"
To enable GCM receiver you need to add stuff to the manifest on android, as listed here: https://stackoverflow.com/questions/42694122/receive-notification-when-app-closed

However, since you need to specify a receiver class... this needs to be implemented I guess. Any ideas?

This also might be relevant https://stackoverflow.com/questions/24313539/push-notifications-when-app-is-closed

[2017-08-29 21:12] jvandijk commented on #43
@Topener what is exactly the problem you experience? Did you already try to send a notification with high priority?

[2017-08-30 13:31] Topener commented on #43
The not receiving notifications when app is closed/on phone restart, or is that fixed with high prio? Ti.Goosh does something similar

[2017-08-30 20:33] jvandijk commented on #43
It's not about fixing.... it's about how Android handle's notifications. If you expect it the arrive realtime, you should use high priority because it will wake the device. If not... the notification will be presented when the phone gets out of Doze mode. See https://developers.google.com/cloud-messaging/concept-options#setting-the-priority-of-a-message

[2017-08-31 10:24] Topener commented on #43
oh it is not about that. It is about when the device has rebooted or the app has been forced closed. Ti.Goosh still lets the phone receive notifications in that case (because it boots up on start and stuff). Yet there is nothing in the manifest for onesignal to support it

[2017-09-02 04:51] jcsomac commented on #42
i am using Titanium Appcelerator SDK 6.1.2

[2017-09-02 08:17] vikasprasad opened #44 "Alert added in notificationReceived event"
I am getting in-build(in module) alert in notificationReceived event, this should not be there.
In our case we are using our custom alert to redirect to relevant screen. Please check and update me on this.

[2017-09-04 16:24] clemblanco opened #45 "Not compatible with Ti SDK 6.1.x.GA+"
As soon as I try to to use this module with a Ti SDK version higher than 6.0.x.GA my application crashes.

[2017-09-04 16:25] clemblanco opened #46 "Opt-out with the module"
Is there any way of opting-out for push notification by using the module and without telling our users to go into their settings?

[2017-09-07 06:55] williamrijksen commented on #46
@Claymm This option could be developed by reading out the `PermissionSubscriptionState`. For now, this titanium module uses the `promptForPushNotificationsWithUserResponse` as you can see in the `ComWilliamrijksenOnesignalModule.m` file. This method is deprecated so we should change it into `get PermissionSubscriptionState`.

Reference: https://documentation.onesignal.com/docs/ios-native-sdk#secti

[2017-09-07 06:56] williamrijksen commented on #45
@Claymm Thank you for reporting this issue. Could you add the platform (android/iOS) and the crashlog into this issue? When is this crash occurring?

[2017-09-07 07:33] williamrijksen commented on #42
@jcsomac @Claymm is this related to #45?

[2017-09-07 07:36] williamrijksen commented on #44
@vikasprasad Which version of the module are you using?

We're currently using a strategy that allows users to create their own interaction based on the opened / receive events. The current default setting is to show no 'in app popup'.

[2017-09-07 08:13] vikasprasad commented on #44
Hi William,

I am using 1.7.1 for iPhone.

I am receiving alert popup in notificationReceived event along with Title,
message and Close button.

On 7 September 2017 at 13:06, William Rijksen <notifications@github.com>
wrote:

--
Thanks & Regards
Vikas Prasad
Senior Mobile App Developer
Aurus IT Solutions

[2017-09-08 05:56] vikasprasad commented on #44
Hi William,

Please check and revert me on this, a am using Appcelerator Studio for
developing app.

I am using same code with ver-1.6.0 and there no alert or popup on
notificationReceived
event but getting alert for ver-1.7.1 (iPhone).

On 7 September 2017 at 13:43, Vikas Prasad <vikas.prasad@aurusit.com> wrote:

--
Thanks & Regards
Vikas Prasad
Senior Mobile App Developer
Aurus IT Solutions

[2017-09-08 19:10] jcsomac commented on #42
yeap

[2017-09-09 14:57] clemblanco commented on #42
yes

On 8 September 2017 at 20:10, Juan Carlos Salinas Ojeda <
notifications@github.com> wrote:

[2017-09-13 22:22] ulissesrsilva opened #47 "Google Play Services error"
Hey everyone!

I'm trying to use One Signal in my app but i'm facing this error:

`build/android/AndroidManifest.xml:20: error: Error: No resource found that matches the given name (at 'value' with value '@integer/google_play_services_version').`

I've tried with (and without) `<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/> `inside

[2017-09-15 12:40] jvandijk commented on #47
@ulissesrsilva I've just re-uploaded the 1.7.1 version dist in the releases. Could you test that one?

[2017-09-15 12:41] jvandijk commented on #45
@Claymm could you retry the 1.7.1 release? I've rebuilt it, because it seemed that the dist was different from what I expected it to be.

[2017-09-15 21:27] ulissesrsilva commented on #47
@jvandijk I've tested and the same error happened =/

[2017-09-16 09:27] jvandijk commented on #47
Damnit... the build is still incorrect indeed.

[2017-09-17 15:53] ulissesrsilva commented on #47
I have zero experience building modules, but is there something I can do to help?

[2017-09-17 20:08] jvandijk commented on #47
@ulissesrsilva the module is now updated again. And now it for sure has the expected content. Could you verify?

[2017-09-18 19:25] ulissesrsilva commented on #47
YEEEEEEEEEEES! It worked! Your module is great man!!
Thank you so much o/

[2017-09-18 19:25] #47 closed, assigned to nobody

[2017-09-21 13:32] AshKernsworth commented on #45
I'm working with @Claymm, I just updated it and it works great.
Thanks @williamrijksen & @jvandijk

[2017-09-21 13:36] jvandijk commented on #45
Thanks for the heads up!

[2017-09-21 13:36] #45 closed, assigned to nobody

[2017-10-02 20:56] clemblanco opened #48 "Incompatibility with Ti.GA module"
Hi, I'm getting an incompatibility issue with [benbahrenburg/Ti.GA](https://github.com/benbahrenburg/Ti.GA) around `google-play-services-base.jar`.

Both modules use the same jar file.

I've tried copying it from one module to the other one (both ways) but it didn't do the trick, I still get an error upon dexer translation when trying to compile for Android using 6.2.2.GA Ti SDK.

Anyway you can h

[2017-10-04 20:42] jvandijk commented on #48
In the README we've described how you're able to resolve this issue by manually changing google play services versions.

But here's attached a zip that should work with 1.7.1
[ti.ga.zip](https://github.com/williamrijksen/com.williamrijksen.onesignal/files/1357292/ti.ga.zip)

[2017-10-04 21:29] clemblanco commented on #48
Thanks a bunch, I'll give it a spin! 👍

[2017-10-04 21:55] clemblanco commented on #48
I can compile now, thanks a lot! #hero

[2017-10-06 09:10] #48 closed, assigned to nobody

[2017-10-12 17:47] benjaminpeters opened #49 "Titanium not catching "notificationOpened" and "notificationReceived" events"
I'm trying to access the payload from the additional data however my event listeners are not catching the events. I'm not sure if this is a problem with the module not firing the events or titanium not catching the events. Is anyone else experiencing this?

[2017-10-16 15:17] #49 closed, assigned to nobody

[2017-10-25 15:06] santhoshvkumar opened #50 "onesignal.idsAvailable even not getting called"
Setup done properly `onesignal.idsAvailable` even not getting called even after the permission for push notification allowed.
In the steps which mentioned there, I didn't do the 5th step Since for me all basic push notification. What am I missing here?

[2017-10-26 07:47] santhoshvkumar commented on #50
The configuration Was not proper. My Bad.

[2017-10-26 07:47] #50 closed, assigned to nobody

[2017-11-03 12:37] iguane opened #51 "[iOS]The app closes at the beginning"
Good, I have a problem loading the module in titanium when the program runs in both the emulator and the device the app is closed, I'm using SDK 6.3.0 GA. Why can this happen? If I stop loading the module it does not close.

Thanks for your help

[2017-11-03 12:44] williamrijksen commented on #51
@iguane which platform?

[2017-11-03 12:45] iguane commented on #51
Appcelerator (Alloy)

[2017-11-03 12:48] iguane commented on #51
For IOS

[2017-11-03 13:08] iguane commented on #51
The same compilation on Android is working correctly

[2017-12-27 11:22] ManasMack opened #53 "Runtime disposed, cannot fire event 'notificationReceived'"
Facing "Runtime disposed, cannot fire event 'notificationReceived'"
and "Runtime disposed, cannot fire event 'notificationOpened'"

On android device while app is not running(In background) both the notificationReceived & notificationOpened
method does not works
Titanium SDK : 6.2.2.GA

[2018-01-09 05:54] Born2Debug commented on #44
Is there a fix on this? I am having the same issue.

[2018-01-15 03:42] Born2Debug opened #54 "iOS: AppBadge on Icon not showing."
iOS: Why is it when I received a push notification the app badge not reflecting or incrementing on the app icon when app is closed.

[2018-01-20 17:43] agrycroko commented on #13
Hi all, so as of now, January 20th 2018, what's the process for getting media links to show as little thumb images on iOS. I put a media url (https and ending with .png) into the OneSignal push field but only the message is displayed, not the thumb image. iOS 11.2 app in development mode on iPhone X. Ti SDK 7.0.1

[2018-01-20 18:07] agrycroko opened #55 "iOS media attachments"
Hi all, so as of now, January 20th 2018, what's the process for getting media links to show as little thumb images on iOS. I put a media url (https and ending with .png) into the OneSignal push field but only the message is displayed, not the thumb image. iOS 11.2 app in development mode on iPhone X. Ti SDK 7.0.1

[2018-01-21 02:15] arbindbhagat opened #56 "Issue with Android??"
I am not sure if this is an issue, or am I doing something wrong? Below is the screenshot. It is working for iOS, but for android, the module is just not being recognized. Please advise.
http://prntscr.com/i3c47t

[2018-01-22 12:45] noxgeneration commented on #56
I have the same problem. What is wrong?

I'm using Titanium SDK 7.0.1

[2018-01-22 15:13] chmiiller commented on #56
This means that you're trying to use the module in a project with a newer Titanium SDK than the app was built with. If I'm not mistaken the module is not ready for Titanium SDK 7.x yet.

[2018-01-31 12:18] sneves79 commented on #44
Same problem here, any solution to disable that alert popup? We are opening our custom dialogue but cant disable that alert from module.

Any update?

[2018-01-31 14:19] chmiiller commented on #44
In my previous module code I had an overwrite for the startup function, which is not the case anymore. But here goes my old version with the configuration for it:
[code]

where:
[code]
is the setting for the alert - I think...
Maybe we can find a similar approach for the new implementation =)

[2018-02-02 18:12] deckameron opened #59 ""notificationOpened" and "notificationReceived" not firing"
I am testing on a iPhone 6S, iOS 10.3.3, Titanium SDK 6.3.0 and module 1.7.1.

I can read the logs but the events never get fired.

When I receive the notification when the app is opened, it prompts an alert. Why?

[2018-02-04 22:43] jvandijk commented on #56
Version 2.0.0 has just been released. Travis is building the distributable, which will become available under releases.

[2018-02-04 22:43] #56 closed, assigned to nobody

[2018-02-05 21:02] jvandijk commented on #53
Release 2.0.0 resolves this issue. It does require TItanium SDK 7.x though

[2018-02-05 21:02] #53 closed, assigned to nobody

[2018-02-05 21:09] jvandijk commented on #54
Did you sent the proper number via OneSignal.... the badge won't show automatically.

[2018-02-05 21:11] jvandijk commented on #55
I haven't played with rich media notifications yet. I do know this requires additional processing inside the app upon receiving the data from OneSignal. How exactly.... I can't tell you.

[2018-02-08 00:31] jkasten2 commented on #55
Rich media notifications work on iOS 10+ and requires that a Notification Service Extension target be added to your project in Xcode. There is a guide below on creating one and setting it up with the OneSignal SDK.
https://documentation.onesignal.com/docs/ios-sdk-setup#section-1-add-notification-service-extension

[2018-02-08 10:37] agrycroko commented on #55
@jkasten2 - thx I was kinda looking along that route but couldn't get it to work. I was building the extension in Xcode and then dropping into my Titanium SDK 7.0.1 Alloy project. I tried adapting this tutorial to use a Notification Service Extension rather than the Siri one they're talking about: [https://docs.appcelerator.com/platform/latest/?mobile=/guide/Creating_iOS_Extensions_-_Siri_Intents]

[2018-02-09 10:02] jkasten2 commented on #55
@garycrook I haven't used Titanium before but since the Notification Service Extension is it's own target and ends up in it's own process it shouldn't be effected. If the code you added is compiling and linking correctly it should be working.

To ensure the Notification Service Extension is being triggered however I recommend following this troubleshooting guide.
https://documentation.onesignal.co

[2018-02-09 10:42] agrycroko commented on #55
Thank you @jkasten2 I will investigate.

[2018-02-11 04:57] arbindbhagat opened #61 "Android Issue"
I am using the recent version (2.0.0) as well as ti.playservices module. My one_signal_app_id is also correct. However, I am getting the following error.

[ERROR] :  OneSignal: OneSignal AppId format is invalid.
[ERROR] :  OneSignal: Example: 'b2f7f966-d8cc-11e4-bed1-df8f05be55ba'
[ERROR] :  OneSignal:
[ERROR] :  OneSignal: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lan

[2018-02-12 07:51] jvandijk commented on #61
Could you share a part of the tiapp.xml? Because the error states that the format of the ID is incorrect.

[2018-02-12 20:36] arbindbhagat commented on #61
<img width="957" alt="screenshot at feb 12 21-36-11" src="https://user-images.githubusercontent.com/19579469/36118287-c3d43d58-103c-11e8-80b1-2deaadf392cb.png">
Here is the screenshot of the tiapp.xml .

[2018-02-21 20:03] jvandijk commented on #61
The metadata should be embedded under android > manifest > application > meta-data to work

[2018-02-24 14:50] williamrijksen commented on #61
@arbindbhagat Can you confirm this issue can be closed?

[2018-02-24 20:12] arbindbhagat commented on #61
@williamrijksen Yes, that issue is now fixed.
However, while following the instructions mentioned in the documentation section of this github project, the notification for android is being received only when the app is opened. The notification is not being received when the app is closed.

Is this supposed to be working this way?

[2018-03-01 20:30] eemi2010 commented on #44
Any new on this issue please ? Seing an alert here too.

[2018-03-20 12:06] chmiiller commented on #61
Hi @arbindbhagat .
I'm using the newest version and the notification is being received successfully when the app is also closed.
@williamrijksen I think his question has been answered and you can close this issue then =)

[2018-03-22 08:27] jvandijk commented on #61
Thanks for confirming @chmiiller

[2018-03-22 08:27] #61 closed, assigned to nobody

[2018-03-22 11:45] hansemannn commented on #13
Btw: This should be possible once [this PR](https://github.com/appcelerator/titanium_mobile/pull/8078) is merged. If you want to help getting it merged sooner than later, please try out the PR and provide feedback about possible issues.

[2018-03-22 16:27] hansemannn commented on #13
Looks like this 😇:
<img width="300" alt="bildschirmfoto 2018-03-22 um 17 24 08" src="https://user-images.githubusercontent.com/10667698/37783479-e40607ce-2df5-11e8-826b-685af7f25c47.png"> <img width="300" alt="bildschirmfoto 2018-03-22 um 17 23 59" src="https://user-images.githubusercontent.com/10667698/37783480-e43b8106-2df5-11e8-81ba-1168b41e2f93.png">

[2018-03-26 06:17] emmanuelfrancis opened #65 "inFocusDisplaying"
I tried setting below but I still get message alert when app is in foreground. Please let me know how to suppress notification alert message when app is in foreground.
var onesignal = require('com.williamrijksen.onesignal');
onesignal.inFocusDisplaying = onesignal.Notification;

[2018-03-26 06:57] emmanuelfrancis commented on #65
This seems to be working with new version 2.0.1

[2018-03-26 07:47] jvandijk commented on #65
Thanks for confirming! Closing now

[2018-03-26 07:47] #65 closed, assigned to nobody

[2018-04-04 15:25] williamrijksen commented on #13
@hansemannn Did you test this in combination with the onesignal module?

[2018-05-04 10:51] DharmeshRathod712 commented on #55
@garycrook even I am caught up with the same issue. Did you find any solution? Thumbnail image is not visible, only message is visible when notification is received in notification bar. But I am receiving the url of image in `notificationOpened` and `notificationReceived` eventListeners. I tried to create native Xcode project and integrated OneSignal module in it as mentioned here [https://documen

[2018-05-04 11:04] agrycroko commented on #55
@User712 no I didn't 😒

In the end I moved over to using Firebase for push (not rich ones, just standard). I'm using @hansemannn's excellent [titanium-firebase](https://github.com/hansemannn/titanium-firebase)  modules.

Good luck!

[UPDATE]
P.S. If you can hold on, rich notifications are part of the upcoming Titanium SDK 7.2.0 release 😉

[2018-05-07 03:53] DharmeshRathod712 commented on #55
@garycrook actually my app is already live with OneSignal. And every other thing is working fine with OneSignal Module, only problem is media attachment is not visible as a thumbnail.
@williamrijksen I will be very thankful if you can help us with the work around or any temporary solution until it is fixed.

[UPDATE]
After doing little R&D on OneSignal module I found that there is a method
`+(UNMu

[2018-06-04 22:49] deckameron opened #70 "Android - Error on message receive"
Hi @williamrijksen

Thank you for the module! :-)

I have been trying to use it on  my project by I get the following error.

Nexus 5
Android API 22
Titanium SDK 7.1.1

[ERROR] :  TiApplication: (main) [179899,243219] Sending event: exception on thread: main msg:java.lang.RuntimeException: Unable to instantiate receiver com.google.android.gcm.GCMBroadcastReceiver: java.lang.ClassNotFoundException:

[2018-06-25 11:47] #43 closed, assigned to nobody

[2018-07-27 12:19] vishal95713 opened #71 "Android Notification receive issue in latest devices"
I am using appcelerator, facing problem in receiving push notification in android oneplus 3 and above phones, also in Mi4i and many more phones with Oreo OS.
When app is in background or in foreground it receives notification, but when I remove app from my doc, then I am facing problem.

I got this error:-
broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.R

[2018-09-17 08:57] adriendillens opened #72 "10 Android SDK releases --is this module maintained ?"
Hi @williamrijksen @chmiiller @jvandijk @Topener @aduptoro & all !

One time again, thanks for this module.

I'm facing issues on Android 8 devices : push notifications (app killed & app in background) are not received.

Last commit of this module is 25 March 2018 (6 months ago)
10 new Android SDK versions have been released during this time
https://github.com/OneSignal/OneSignal-Android-SDK/relea

[2018-09-17 09:08] jordansilva commented on #72
Hi,

The last version released on 26th March was using OneSignal version 3.8.0 as you can see here:
https://github.com/williamrijksen/com.williamrijksen.onesignal/releases

I'm getting current branches and updating the OneSignal module on Android to the version 3.10.0. I'm going to do a PR this week with this updates.

[2018-09-17 09:11] chmiiller commented on #72
Besides @jordansilva 's work, I'm updating the iOS library version also this week!

[2018-09-17 09:26] adriendillens commented on #72
Oh nice guys !

I really appreciate your quick replies.

If i can help for something, just tell me!

Good job, thanks a lot 👍 👍 👍

[2018-09-17 09:44] adriendillens commented on #72
@jordansilva I found something interesting

in this Android SDK issue https://github.com/OneSignal/OneSignal-Android-SDK/issues/337
they are talking about android.permission.BIND_JOB_SERVICE to enable
I don't know if it's needed but ... Maybe this can helps you ;-)

[2018-09-17 09:51] jvandijk commented on #72
@adriendillens @jordansilva that was already addressed in the latest release. Check the changes that were made to the timodule.xml

[2018-09-17 09:59] jordansilva commented on #72
@jvandijk is in the March release that I referred before, right?
On my side, I'm just updating the SDK to 3.10.0, merged fix branches that were ahead of the master branch, and I'm testing on my project now. Everything seems good until now.  👍

[2018-09-17 10:23] jvandijk commented on #72
@jordansilva yes those were in the 2.0.1 release from March

[2018-09-17 16:15] jordansilva commented on #72
@jvandijk @chmiiller
I'm planning to merge @williamrijksen branches:
- fix/deprecation-ids-available;
- upgrade/onesignal-sdk;
- introduce-subscription-listeners;
- introduce-permission-listeners;
- clear-notifications;

check if everything is ok and submit a pull request what do you think? or should I wait for @williamrijksen?

[2018-09-20 10:09] adriendillens commented on #71
@vishal95713 @williamrijksen  I'm facing the same problem right now on :
- Oneplus 5 (Android 8.1)
- Some Samsung (Android 8.0)

This doc tell us more about this issue :
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#section-the-app-is-force-stopped

I do my best to fix this issue :
- Update onesignal module with the latest Android SDK (from 3.8.0 to

[2018-09-20 11:05] jvandijk commented on #72
@jordansilva the upgrade/onesignal-sdk branch will likely break the iOS version. This module overrides a mapping structure from the OneSignal module SDK which changed between releases. This needs validation before merging that.

[2018-09-29 18:23] joshualambert opened #75 "Ti SDK 7.4.0 Support - iOS"
Greetings,

If you use the current release version of this module with the latest Titanium SDK (7.4.0.GA), you can consistently see the following crash:

1.) Start your app.
2.) Register for push notifications.
3.) Kill your app. (Double-tap home button, swipe up on app.)
4.) Send push notification from oneSignal.
5.) Open push notification on your device.
6.) You'll see the app splashscreen, then

[2018-10-03 22:11] SquirrelMobile commented on #75
+1

[2018-10-20 23:23] joshualambert commented on #75
Bump! Really need this updated so I can use the latest TiSDK. I am a paying OneSignal customer. Any help would be significantly appreciated.

[2018-10-22 15:06] fabiomlferreira commented on #75
I have exactly the same problem. Please can someone fix this?

[2018-10-22 15:47] janvennemann commented on #75
Can you provide a crash report?

[2018-10-24 16:47] joshualambert commented on #75
@janvennemann I have emailed this to you now.

[2018-10-26 10:01] sandeep14 opened #76 "Not receiving notifications when the app is closed or swiped off"
Hi,

I have observed that whenever I send notifications to my app, if the app is closed or not in the background , my user is not receiving the notification.
Please could you let me know what the reason could be and how I can solve this.

Thanks,

[2018-10-26 17:07] alexakass commented on #75
+1

[2018-10-29 18:03] jkasten2 commented on #76
@sandeep14 Please see this guide to debug the issue.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

[2018-10-29 23:24] alexakass commented on #75
Any news on this as? 1 month for a serious issue to be resolved is worrying.

[2018-10-30 05:40] SquirrelMobile commented on #75
+1

[2018-10-30 15:47] joshualambert commented on #75
Please try testing with this build and let me know how it goes: https://playground.smalltownhosting.com/com.williamrijksen.onesignal.zip

This includes the changes from the PR currently open here:
https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/62

[2018-10-30 15:47] joshualambert commented on #75
@williamrijksen has added me as a collaborator on this repo. If we can certify the changes he's added behave correctly, we can merge this and update the repo.

[2018-10-31 11:44] williamrijksen commented on #75
Good job @joshualambert !

[2018-10-31 21:38] joshualambert commented on #75
OK so we're seeing a problem with the above build based on PR #62. The data payloads are coming in blank that we use for push-based app deeplinking. Unsure why they're blank at this point.

[2018-11-01 22:18] philcandel commented on #59
Hello

I have the same issue... using  iOS 12.0, Titanium SDK 7.4.0 and module 2.0.1.

I know it is hard to maintain,
Do you have any idea when it will be solved ?

Thanks for all your work

[2018-11-29 10:48] Melonbwead commented on #75
Hey hey, Is there any update on this, been using the Titanium 7.4.1 SDK and we are seeing crashes on open push notification on your device.

[2018-11-29 11:50] SquirrelMobile commented on #75
The app crash when opening a push notification, @williamrijksen can you create a release please if this commit fix the problem ?

[2018-11-29 11:57] danimarin commented on #75
+1

[2018-11-30 15:58] joe-f commented on #75
+1 @janvennemann Any ideas on how to move this issue forward?

[2018-12-04 18:30] janvennemann commented on #75
#77 was merged recently which fixed the issue and i think @jvandijk is currently preparing a new release.

[2018-12-12 10:45] danimarin commented on #75
Please, this bug is critical for some customers that pay for OneSignal. How could we help to release a new version faster?

[2018-12-13 08:08] janvennemann commented on #75
To temporarily unblock you i've drafted a pre-release from the current master branch: https://www.dropbox.com/s/pel2y5c9h9do9h0/com.williamrijksen.onesignal-iphone-2.0.1.zip?dl=0

[2018-12-13 12:40] jvandijk commented on #75
The release is now done : https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.1.0

Be aware, this is an open source module. The maintainers of this module are in no way affiliated with OneSignal!

[2018-12-13 12:40] #75 closed, assigned to nobody

[2018-12-13 12:41] jvandijk commented on #72
A new release is available : https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.1.0

[2018-12-13 12:41] #72 closed, assigned to nobody

[2018-12-13 12:42] jvandijk commented on #59
Register the listeners as early as possible, preferable in alloy.js and use the latest release : https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.1.0

[2018-12-13 12:42] #59 closed, assigned to nobody

[2018-12-13 12:42] jvandijk commented on #71
@adriendillens could you test again with the latest release? https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.1.0

[2018-12-23 23:17] clem983 opened #80 "External User Id"
Hi,

Thank you for this module :)

I'd like to know if it's possible to send the "external user id" parameter to onesignal, in order to target a list of users by their ID ?
If not, how can I send a notification to a list of users ?
I don't find any information about this.

Thanks a lot :)

[2019-01-06 23:13] jvandijk commented on #80
Since the latest OneSignal SDK's in version 2.1.1 this is possible, but not in this implementation yet. You'll have to expose the setExternalUserId method to be able to send this information.

If you create a PR for this, I'll be happy to merge and release this.

[2019-01-17 21:56] antonioduran opened #81 "7.5.0.GA - onesignal.idsAvailable is not fired - support"
Hello. Good afternoon.

Basically this part of code onesignal.idsAvailable is not executed with Titanium SDK 7.5.0.GA using the module version of iOS 2.1.1
https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/download/2.1.1/com.williamrijksen.onesignal-iphone-2.1.1.zip, but if I use the version 2.0.0 of the module, the second  time that I open the app is working pretty good as t

[2019-01-24 17:40] deckameron opened #82 "Event for clicking on notification buttons"
Hi @williamrijksen
Thank you for the module!

Is is possible to differentiate the notification click from a notification button click on Android?
I noticed that both, notification and notification buttons trigger the the same event (notificationOpened), so it is not possible to implement any particular behavior for the buttons. Am I right? Or am I missing something here?

I would like to prevent t

[2019-01-24 17:43] #70 closed, assigned to nobody

[2019-02-26 14:59] antonioduran opened #83 "Firebase support - internal dependencies"
Hello. As you know google will be deprecated GCM in April 11th, so this module is working with GCM, but does anybody know whether this module will have support for firebase? I mean to update all the internal dependencies of the module to firebase.

Thanks.

[2019-02-27 10:33] gurudey commented on #81
7.4.x + 2.0.x = WORKS!
7.5.x + 2.1.x = NOT registering user with onesignal & crash.

[2019-02-27 11:36] chmiiller opened #84 "[iOS] ERROR ITMS-90087: "Unsupported Architectures" When submitting to App Store"
ERROR ITMS-90087: "Unsupported Architectures. The executable for BCVI CME.app/Frameworks/OneSignal.framework contains unsupported architectures '[x86_64, i386]'."

![screen shot 2019-02-26 at 14 18 20](https://user-images.githubusercontent.com/1013632/53487101-e6960500-3a8a-11e9-9302-7846ef4c18de.png)

I'm getting this error when submitting the .IPA file to App Store with Application Loader.
The a

[2019-03-01 12:37] chmiiller commented on #81
Weird, I'm using it with 7.5.1 and 2.1.1 and it seems to work just fine. Gonna give it a try and let you know

[2019-03-01 13:47] chmiiller commented on #81
Everything seems fine here...iOS users are successfully registered on One Signal app and the notification just arrived.

[2019-03-01 13:56] chmiiller commented on #84
Found the problem!

Our CI/CD system is not going through all Build Phases of Titanium archive command for some reason which will include a Frameworks Stripping. But when we build it locally on our mac machines it just works and strips out simulator architectures from Frameworks including One Signal's.

With some more deep investigation we found that it doesn't do it because the framework is Code

[2019-03-01 13:56] #84 closed, assigned to nobody

[2019-03-01 14:00] chmiiller commented on #83
We really need to work this out. I have no knowledge on that part of the module. Do you know who started the implementation of it on Android? @jvandijk Jeroen, maybe you know something or someone?

[2019-03-03 21:32] jvandijk commented on #83
I haven't tested this, but as far as I can see this has been completely abstracted away by the OneSignal library itself. This still supports both GCM & FCM, it's just up to you to configure one in the OneSignal user interface and only use the OneSignal app id. In the past you also had to put in a Google project number, but is now fetched automatically to support both GCM & FCM.

[2019-03-03 22:50] antonioduran commented on #83
Hey hello @jvandijk. Perhaps, I am wrong, but what about the following; not sure, but this module seems that it is not using FCM SDK, but according to Google we should remove / update the following:

[code]

[code]

[code]

I noticed part of the above code in the following link:
https://github.com/williamrijksen/com.williamrijksen.onesignal/blob/5714d54ea70745092725d6e70ea8a363c4738ae1/android/tim

[2019-03-10 15:24] SilvioLuis commented on #82
I have the same doubt @williamrijksen

[2019-03-10 20:39] SilvioLuis commented on #13
@williamrijksen  Do we have any resolution on this topic? I could not get it to work, even following the steps to enable rich notifications on iOS.

[2019-03-10 20:47] SilvioLuis commented on #55
Any solution for this?

[2019-04-13 10:35] gimdongwoo commented on #81
I having same issue. Any updates?

[2019-04-13 14:23] gimdongwoo commented on #81
I think this pr cause broken.
https://github.com/williamrijksen/com.williamrijksen.onesignal/pull/77
@janvennemann

[2019-04-13 15:41] gimdongwoo commented on #81
I want to rollback ios code to 2.0.1.
I made `2.0.1 + update sdk` version.
https://github.com/gimdongwoo/com.williamrijksen.onesignal/releases/tag/2.0.2

[2019-04-14 15:42] jvandijk commented on #81
The example as shown here indeed does NOT work anymore. You have to require the OneSignal module as early as possible on iOS. I advice to trigger it in the alloy.js. Afterwards somewhere else in the application code you can do the prompt. In this situation you'll be completely fine.

[2019-04-15 01:18] gimdongwoo commented on #81
@janvennemann
It’s not fine.
Your code looks like it works.
But, No idsAvaliable, No registration.
No new user on onesignal.com.

[2019-04-15 01:19] gimdongwoo commented on #81
@jvandijk @janvennemann
It’s not fine.
This code looks like it works.
But, No idsAvaliable, No registration.
No new user on onesignal.com.

[2019-04-15 09:32] jvandijk commented on #81
![Screen Shot 2019-04-15 at 11 21 23](https://user-images.githubusercontent.com/343359/56121723-07e67e00-5f71-11e9-90dd-bb23b7438e13.png)

Here is a screenshot from OneSignal that shows version 2.1.1 of the library on TiSDK 7.5.1 on both Android and iOS. It shows the used OneSignal SDK versions and the fact that it's registering properly.

idsAvailable is deprecated, so that might also be an issue

[2019-04-15 12:13] gimdongwoo commented on #81
@jvandijk
On Android, I saw that registration is working.
The reason is that Android has not changed its code since version 2.0.0.

Please remove the iOS user and trying to register a new one.
Then the user will not be registered only iOS.
I have tested this several times.
Even if `idsAvailable` is deprecated, it still works in the latest SDK.

[2019-05-29 18:56] luiscript commented on #23
I'm having a similar issue. During development on iOS if I'm debugging with --liveview, notification arrives normally, when app is focus and when is in background.

But if I'm debugging without --liveview notification only arrives when apps is in background.

Any idea what's happening here?

Thanks this is a great module, so easy to use. I hope this problem can be solved to use this in production.

[2019-07-07 23:33] joshualambert commented on #80
@clem983 Did you ever implement the "setExternalUserId" method?

[2019-07-09 13:20] clem983 commented on #80
Unfortunately, no :/

[2019-07-15 12:02] AndreaVitale commented on #83
Got it to work:
- include firebase.core module
- include firebase.cloudmessaging module

removed all stuffs from manifest like @antonioduran says and now I get inside the console

`[WARN]  OneSignal: Both GCM & FCM Libraries detected! Please remove the deprecated GCM library.`

Unfortunately I think that we cannot completely remove GCM because is built in inside ti.playservices module.

[2019-09-06 06:33] wawebtech opened #85 "URGENT & IMPORT iOS 13 Update Changes"
**Does the following message effect the latest sdk in release here? i'm using titanium sdk 7.4 & xcode 10**

===========================
Hi there,

Due to a change that may occur as part of the upcoming iOS 13 release, you must update to the latest version of the iOS SDK before building your app with Xcode 11. All of OneSignal’s wrapper SDKs including React Native, Unity, and Flutter have been upd

[2019-09-06 07:44] chmiiller commented on #85
I think that it only affects those building their apps with Xcode 11. If you stay on Xcode 10 and the old library it's ok. But I couldn't find something to be 100% sure about it.
We need that someone updates the SDK ASAP, since now Apple is rejecting apps with UIWebView and this version of the SDK is still using it: https://github.com/OneSignal/OneSignal-iOS-SDK/issues/522

[2019-09-06 08:01] chmiiller opened #86 "iOS SDK Updates"
Hi there,
I've noticed that there are a bunch of important issues fixed on the latest releases of the original One Signal SDK for iOS and this module is becoming obsolete if we don't do something about it along with a lot of other cool features that the module misses.

The two more relevant issues are:
#85 and https://github.com/OneSignal/OneSignal-iOS-SDK/issues/522

We can start by merging all @

[2019-09-26 08:41] chmiiller commented on #86
Is good to hear that simply building it with latest iOS SDK does the job! Thanks!

[2019-09-26 09:15] chmiiller commented on #86
Posted on their repo as well: https://github.com/OneSignal/OneSignal-iOS-SDK/issues/540

[2019-09-29 18:15] joshualambert commented on #86
@pitbot Any chance you could share a copy of your updated/compiled OneSignal module? I've been unable to get it compiled locally.

[2019-10-05 19:33] ulissesrsilva commented on #86
Hey @pitbot, thanks for sharing! I'm using your your updated module with 8.2.0.GA but all of my users keep getting "Other Apns 3000 Error - " on One Signal. I've configured all certificates correctly. Do you know what it might be?

[2019-10-05 22:05] chmiiller commented on #86
hey @ulissesrsilva I've **JUST** had this problem last Friday! For a mysterious reason, my provisioning profile was marked as `invalid` on the Apple Developer dashboard! If you take the generated .IPA file, you can easily see the provisioning profile used to sign the app and you will see that it misses the entitlement `aps-environment: production`. I had to generate the provisioning profile again,

[2019-10-14 16:21] ulissesrsilva commented on #86
Hey @chmiiller thank you so much!!! I updated my tiapp.xml with the `aps-environment` and it works just fine now!

[2019-12-15 02:11] MotiurRahman opened #87 "Current module v2.1.1 is not working with TI SDK 8.2.1.GA. Help Needed"
I can build App with this module version but App is not subscribed to the dashboard. Here is the attached image. Could you please update this module with the latest Ti SDK
![Screenshot 2019-12-15 at 7 08 46 AM](https://user-images.githubusercontent.com/5361753/70857071-6a35bb00-1f12-11ea-941b-e0233ff21c83.png)
However, I do not use any other push SDK or push related code.

[2019-12-30 12:36] frodfigu commented on #87
Me too.

[2020-01-08 14:25] deckameron commented on #80
@clem983 @jvandijk I have [implemented it](https://github.com/deckameron/Ti.Android.Onesignal) in case you still need it.

[2020-01-08 14:30] deckameron commented on #87
I have experienced this issue before.
The only way I got it working was creating my Push Certificates again. I started it from scratch and it worked just fine.

[2020-01-08 17:25] deckameron commented on #83
In case you would like to test it with FCM, here is the [module](https://github.com/deckameron/Ti.Android.Onesignal).

[2020-01-08 17:52] deckameron commented on #82
@SilvioLuis I have implemented it but can prevent the from opening because it requires a manifest tag and would prevent all notifications from opening the app.
If you want to check it out, [here it is](https://github.com/deckameron/Ti.Android.Onesignal).

[2020-01-20 08:38] albert0m commented on #81
this is happening to me too, I'm using TiSDK 8.1.2 on iOS 13. Anyone found a solution?

[2020-01-23 17:10] MaianaBt commented on #87
any news about this?

[2020-01-24 07:18] albert0m commented on #86
After updating to Xcode 11 I got the same problem. I tried everything suggested here, but I'm still not getting the userId. The device is not registering to the OneSignal backend anymore, they're not marked as active anymore.

I rebuilt the module myself like suggested, updating the original sdk but still the idsAvailable method was not called. Migrated the method (since it's been marked as deprec

[2020-01-31 13:27] chmiiller commented on #86
@albert0m are you talking about this Deprecation message when building the app?

```OneSignal has detected that your application delegate implements a deprecated method (application:didReceiveLocalNotification:). Please note that this method has been officially deprecated and the OneSignal SDK will no longer call it. You should use UNUserNotificationCenter instead```

This might be the reason it i

[2020-02-14 13:32] chmiiller commented on #86
BTW, @pitbot  I've tried your build https://github.com/pitbot/com.williamrijksen.onesignal/tree/master/dist and still gets this warning messages from above (Xcode 10)

[2020-02-21 14:18] chmiiller commented on #86
Hi everyone, good news, I have updated the module on PR #88
The iOS SDK is updated so it doesn't include UIWebView anymore, works with Xcode 11 and doesn't give warning anymore =)
I've tested building with Xcode 10 and 11, Titanium SDK 8.3.x and tags, notifications and callbacks are all working. The final test will be to submit the app to store, but that will only happen in a couple of weeks.
So,

[2020-02-21 14:18] #86 closed, assigned to nobody

[2020-02-21 14:19] chmiiller commented on #85
From release 2.2.0 I have this fixed. PR #88 is the one taking care of all these updates.

[2020-02-21 14:19] #85 closed, assigned to nobody

[2020-02-21 14:20] chmiiller commented on #87
It should be working now guys. PR #88 fixes a bunch of stuff and I've tested it a lot and everything seems fine. Let's close this issue now and please feel free to open any other if you have a question. (I'm also available on TiSlack)

[2020-02-21 14:20] #87 closed, assigned to nobody

[2020-02-21 14:23] chmiiller commented on #81
Sorry guys, IdsAvailable is not supported anymore from One Signal API and the new release 2.2.0 removes it. There's a PR #66 that's is supposed to improve this but I'm not so sure how. Maybe we can review that later? I think this issue might be closed for the moment.

[2020-02-21 14:23] #81 closed, assigned to nobody

[2020-02-21 14:24] chmiiller commented on #76
Hi @sandeep14 can you provide more details about this problem? Do you have it fixed? Is this happening on Android or iOS? What version of OS are you running? What release of the module are you using?

[2020-02-21 14:26] chmiiller commented on #51
Hi @iguane because this is a bit old issue, I will be closing it for now, is that ok? I use to have this problem with app crashing in the beginning like you said, but it was a long time ago on older versions of the module. Maybe trying with a new one might fix your problem.
Please open a new issue in case this is not working for you, thanks!

[2020-02-21 14:26] #51 closed, assigned to nobody

[2020-02-21 14:29] chmiiller commented on #44
The newer version of the module has the key `kOSSettingsKeyInFocusDisplayOption` set to `OSNotificationDisplayTypeNone` now, so no alert message should be displayed for now.

[2020-02-21 14:29] #44 closed, assigned to nobody

[2020-02-21 14:30] chmiiller commented on #35
Latest release of the iOS module removes this method implementation and from header. You shouldn't see these warning anymore.

[2020-02-21 14:30] #35 closed, assigned to nobody

[2020-02-21 14:32] chmiiller commented on #25
On the latest release version of the module for iOS the option prop `[OneSignal setLocationShared];` is set to *YES* and it indeed works giving the location to the user in One Signal's Audience interface. Gonna close this issue for now, please feel free to open another one in case this is not working on Android.
Thanks!

[2020-02-21 14:32] #25 closed, assigned to nobody

[2020-02-21 14:36] chmiiller commented on #23
Hi everyone, is this still a valid issue on Android? Can you please confirm this @t4kumj ?
@luiscript I think you can create a separated issue here on the repo with more information on what's happening to you. I'm not using --liveview and I would not recommend using it to test push notification behavior while in development.
I'm closing this issue since it's been reported a long time ago and it do

[2020-02-21 14:36] #23 closed, assigned to nobody

[2020-03-04 13:02] frodfigu opened #93 "getTags returns wrong tags of current player"
When I´m call onesignal.getTags... the returned data is wrong... Not the correct tags for current user.

In Onesignal console can I view the correct tags and doesn´t match with the returned from this module.

Any solution?

[2020-03-11 14:59] kvrscream opened #94 "App não receber notificação quande está aberto"
App does not receive notification when it is open
the application does not receive the push when it is open. Works only when it is in the background or closed

[2020-03-23 12:28] #94 closed, assigned to nobody

[2020-04-13 12:43] leandrosfar opened #95 "Appcelerator 9"
After upgrade appcelerator to version 9, onesignal module stopped working (Android).

Device or emulator startup error:

`[INFO] ti.playservices: Google Play Services is available. (version: 12451000)`
`[ERROR] OneSignal: Unknown error getting GCM Token`
`[ERROR] OneSignal: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/gcm/GoogleCloudMessaging;`
`[ERROR] OneSignal:

[2020-06-18 03:38] gunawan0706 opened #96 "Player ID in iOS"
Any update for replacing idsAvailable to get Player ID in iOS?

[2020-06-19 23:56] jordanbisato commented on #96
You can use
`var evt = onesignal.getPermissionSubscriptionState();`
`evt.subscriptionStatus.userId`

[2020-06-22 08:47] gunawan0706 commented on #96
Thanks Jordan,
I tried it using version 2.2.0 and

`var onesignal = require('com.williamrijksen.onesignal');`
`onesignal.setInFocusDisplayType('none');`
`onesignal.promptForPushNotificationsWithUserResponse(function(obj) {`
`        var evt = onesignal.getPermissionSubscriptionState();`
`        console.log(evt);`
`});`

gives me undefined.

[2020-06-30 12:34] chmiiller commented on #80
Yo @deckameron any plans on opening a PR for this?

[2020-07-01 07:30] chmiiller commented on #93
Is this on iOS or Android? I've just tested it on iOS and it is working fine. Don't forget that getTags receives a callback function with a result as a parameter where the user tags are, for example:
[code]

[2020-07-01 11:57] chmiiller commented on #96
Fixed! On the [new released version 2.1.1](https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.2.1) I've implemented this `onesignal.getPermissionSubscriptionState` method for iOS like @jordanbisato says. It should work just fine now!

[2020-07-01 11:57] #96 closed, assigned to nobody

[2020-07-01 11:59] chmiiller commented on #80
Hi everyone, I've just published an iOS release where `setExternalUserId` and `removeExternalUserId` are implemented. As my project will also need an Android implementation, that's my next task. You can take the new iOS version here: https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.2.1

[2020-07-01 17:12] chmiiller commented on #93
Ok just tested it out on Android with the same snippet from above and the result is the same. Closing this issue.

[2020-07-01 17:12] #93 closed, assigned to nobody

[2020-07-01 17:13] chmiiller commented on #80
There are 2 new releases on this repo https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.1.2 on Android and https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.2.2 on iOS.
Both versions now support setting and removing externalUserId

[2020-07-01 17:13] #80 closed, assigned to nobody

[2020-07-01 17:14] chmiiller commented on #71
Closing this issue since it's almost 2 years old and it seems that's fixed already

[2020-07-01 17:14] #71 closed, assigned to nobody

[2020-07-10 15:26] albert0m commented on #96
I have the same issue. I'm using the latest version 2.2.2 with TiSDK 8.3.x,

This is the snippet I'm using:

             var onesignal = Alloy.Globals.oneSignal = require('com.williamrijksen.onesignal');
		      onesignal.setInFocusDisplayType('none');
		       onesignal.setLogLevel({
			      logLevel: onesignal.LOG_LEVEL_DEBUG,
			      visualLevel: onesignal.LOG_LEVEL_DEBUG
		      });
		onesi

[2020-07-10 15:40] chmiiller commented on #96
can you test by calling these functions out of the ```onesignal.promptForPushNotificationsWithUserResponse``` callback function scope?

[2020-07-10 15:50] albert0m commented on #96
same thing..

[2020-07-10 18:28] jordanbisato commented on #96
I'm using `Ti.API.info("SubscriptionState: " + JSON.stringify(SubscriptionState))`

[2020-07-14 13:30] albert0m opened #99 "OneSignal.framework: bundle format is ambiguous (could be app or framework)"
When I try to compile my app with a module compiled from scratch, I get this error.

I tried it with Ti SDK 8.x and 9.x

[2020-09-16 09:54] nascado commented on #95
Is this solved in between?
I have the same error. Titanium SDK 9.0.3

[2020-09-16 14:18] leandrosfar commented on #95
Hi

Yes.

I tested now, with:
- Titanium SDK 9.1.0
- appc 8.1.1
- com.williamrijksen.onesignal 2.1.2 (1 july release - https://github.com/williamrijksen/com.williamrijksen.onesignal/releases/tag/2.1.2)
- titanium-firebase-core (https://github.com/hansemannn/titanium-firebase-core/releases/tag/android-6.0.0)
- titanium-firebase-cloud-messaging (https://github.com/hansemannn/titanium-firebase-cloud-

[2020-10-31 06:15] sandeep14 commented on #95
Hi ,
I am also facing same issue with onesignal 2.1.2 (Ti sdk 9.2.1.GA), it this fixed?

[2020-10-31 14:18] leandrosfar commented on #95
Hello, I just tested with Ti 9.2.2 + oniginal 2.1.2 + titanium-firebase-core 6 + titanium-firebase-cloud-messaging 3.0.1: it worked

[2020-11-03 07:22] sandeep14 commented on #95
thanks it worked, may be I missing titanium-firebase-cloud-messaging modules

[2020-11-08 12:24] frodfigu opened #102 "Outdated Android Support Library"
From today I'm started to see this error "Outdated Android Support Library" on my One Signal Dashboard.

I'm using the 2.1.1 Android version of this module. And the devices doesn´t receive the notification pushes.

I'm using <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="29"/> on my tiapp.xml

Can you help me?

[2020-11-08 22:10] frodfigu commented on #102
I have this errors on launch my app:

[ERROR] OneSignal: The Firebase FCM library is missing! Please make sure to include it in your project.
[ERROR] OneSignal: The included Android Support Library is to old or incomplete. Please update to the 26.0.0 revision or newer.

[ERROR] OneSignal: Unknown error getting GCM Token
[ERROR] OneSignal: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/

[2020-11-08 23:35] frodfigu commented on #95
With all this configuration... my onesignal dashboard shows me: Outdated Support Android Library.

Any solution? And the pushes it isn´t received! :-(

[2020-11-08 23:36] frodfigu commented on #95
And another error: [ERROR] OneSignal: Missing Google Project number!
[ERROR] OneSignal: Please enter a Google Project number / Sender ID on under App Settings > Android > Configuration on the OneSignal dashboard.
ERROR] OneSignal: The Firebase FCM library is missing! Please make sure to include it in your project.
[ERROR] OneSignal: The included Android Support Library is to old or incomplete. Ple

[2020-11-09 04:57] sandeep14 commented on #95
@frodfigu Can you provide details like which playservice version are you using ? have you setup all configuration as mention in documentation?

[2020-11-09 08:44] frodfigu commented on #95
@sandeep14

Adding this configuration solve my problem!

¡Thank you very much!

`<module platform="android" version="2.1.2">com.williamrijksen.onesignal</module>`
`<module platform="android" version="17.5.0">ti.playservices</module>`
`<module platform="android" version="6.0.0">firebase.core</module>`
`<module platform="android" version="3.0.1">firebase.cloudmessaging</module>`

[2020-11-09 09:01] frodfigu commented on #102
Solved by adding this configuration:

`<module platform="android" version="2.1.2">com.williamrijksen.onesignal</module>`
`<module platform="android" version="17.5.0">ti.playservices</module>`
`<module platform="android" version="6.0.0">firebase.core</module>`
`<module platform="android" version="3.0.1">firebase.cloudmessaging</module>`

[2020-11-09 09:01] #102 closed, assigned to nobody

[2021-01-06 16:06] fernandojorgerodriguessilva opened #103 "Error: A valid Firebase project ID is required"
Hi,
i installed this plugin but i'm getting the error below:

`[ERROR] :  OneSignal: Unknown error getting FCM Token
[ERROR] :  OneSignal: java.lang.IllegalArgumentException: Please set your project ID. A valid Firebase project ID is required to communicate with Firebase server APIs: It identifies your project with Google.
[ERROR] :  OneSignal: 	at com.google.android.gms.common.internal.Preconditi

[2021-03-30 13:27] mgm7734 opened #105 "Opening our app via notification just hangs on Android 11 (sdk30)"
When the app is in background, a push notification is received and we open the app via the notification, on Android 11 the application hangs.  All of our resume handlers all execute without error, but the UI  is not displayed.    There are no errors in the log.

Titanium SDK 9.3.2.GA
  3) android-30
    Name                      = Android 11
    API Level                 = 30
    Revision

[2021-06-15 19:26] jordanbisato opened #107 "Error with Gradle"
When trying to build to a Android 10 using SDK10.0.GA on Windows i get the following error:

[code]

[2021-06-15 22:55] jordanbisato commented on #107
I can build now after add this to my build.gradle

[code]

But now i am receiving this error:

`[ERROR] V8Exception: Exception occurred at ti:/kroll.js:1045: Uncaught Error: Requested module not found: hyperloop\hyperloop.bootstrap`

[2021-09-29 09:03] bruce-atkinson opened #109 "Notifications don't show under local notifications on Android 10"
Pushes do come through to the app when open, but do not trigger on local notifications when closed.

[2021-12-16 10:54] m1ga commented on #107
I've only had to add `googleServices { disableVersionCheck = true } ` perhaps that will fix the hyperloop part again. Added that info + some updated dependencies in https://github.com/AbdullahFaqeir/com.williamrijksen.onesignal/pull/1

[2021-12-16 10:55] m1ga commented on #105
please try https://github.com/AbdullahFaqeir/com.williamrijksen.onesignal/pull/1

[2021-12-16 10:56] m1ga commented on #109
please try https://github.com/AbdullahFaqeir/com.williamrijksen.onesignal/pull/1

[2022-11-20 11:36] gunawan0706 opened #111 "Update For Android 12 (SDK 31)"
Hi,
is there any update For this awesome module that support Android SDK 31?

[2022-11-20 12:48] #111 closed, assigned to nobody

[2022-11-20 14:11] fusionqb opened #112 "Library version 2.1.2 does not work in Android 12 SDK"
Starting on Nov 2022, the app cannot build to support Android 12. It requires Receiver
FAILURE: Build failed with an exception.
Execution failed for task ':lib.com.williamrijksen.onesignal:processReleaseManifest'.
[ERROR] [GRADLE] > A failure occurred while executing com.android.build.gradle.tasks.ProcessLibraryManifest$ProcessLibWorkAction

[ERROR] [GRADLE]        android:exported needs to be exp